body {
  background-color: #f1f1f1;
  background: url('./static/3.jpg') #fff no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  min-width: 1200px;
}

.Applogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.AppBody {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Applink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-right {
  padding: 5px 10px;
  text-align: left;
}
.col-left {
  padding: 5px 10px;
  text-align: right;
}
.deleteBtn {
  color: red !important;
}

.hoverBtn {
  cursor: pointer;
  font-size: 16px !important;
  user-select: none;
  div{
    position: relative;
    float: right;
    width: 0;
    overflow: hidden;
    transition:width 2s;
  }
  &:hover {
    div {
      width: 50px;
    }
  }
}